/* body{
  margin: 0;

} */

.contenitore{
  background-color: white;
  background-size: cover;
  margin: 0;
  position: relative;
}

p{
  margin: 0;
}

.a{
  position: absolute;
}

.tr{
  width: 300px;
  height: 370px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.tr2{
  width: 300px;
  height: 370px;
  position: absolute;
  left: 305px;
  top: 0;
}

.tr3{
  width: 300px;
  height: 370px;
  position: absolute;
  left: 610px;
  top: 0;
}

.tr p, .tr3 p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  z-index: 3;
}

.tr2 p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  z-index: 3;
}
